*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.material-icons.dark-purple { color: #23042F; }

body {
  scroll-behavior: smooth;
  font: 400 1rem 'DM sans', sans-serif;
  color: #525252;
  background: rgba(256,256,265, 0.98);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.swiper-wrapper {
  padding: 0.5rem 0;
}

.swiper-button-next, .swiper-button-prev {
  margin: 0 -0.5rem;
  color: var(--Principal-purple);
}

